<a href="{{ site.url }}" class="p-6">
  {% include plain_header.html %}
  <div id="title" class="mx-auto max-w-7xl px-6 lg:px-4 text-black text-wrap w-full h-screen bg-no-repeat bg-cover bg-center bg-[url('/assets/images/background.jpg')]">
    <div class="bg-opacity-50 bg-white">
      <p class="py-2">
        On June 25th, Kenya watched its bravest fall. Young, unarmed, and full of dreams, they stood at the frontlines demanding a better tomorrow. In the face of injustice, they marched—not for fame, not for power, but for a future they could believe in. They held nothing but placards and hope. For their voices, for daring to speak, they were silenced by bullets.
      </p>
      <p class="py-2">
        Their blood waters the soil of a freer Kenya. Their voices echoed through tear gas, their names now etched in the conscience of a nation. Their sacrifice is a solemn call: we must not look away.
      </p>
      <p class="py-2">
        They were students, artists, daughters, sons—lives just beginning. Now, they are names we must never forget. Kenya must never forget the price the youth paid for truth. 
      </p>
    </div>
  </div>
</a>