<meta charset="utf-8">

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<meta name="description" content="Warm, journalist-crafted obituaries, tributes, and memorials that capture a life’s true legacy. Contact us today to honor your loved one.">


{% assign dob = page.dob | split: "-" %}
{% assign dod = page.dod | split: "-" %}
{% assign name = page.name | replace : ".html","" %}
{% if (dod != dob) %}
    {% assign title = name | append : " (" | append : dob[0] | append : " - " | append : dod[0] | append : ") Obituary on " | append : site.name %}
{% else %}
    {% assign title = name | append : ": Warm honest obituaries that capture life’s legacy" %}
{% endif %}

<title>{{title}}</title>

<link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">

<link rel="shortcut icon" type="image/x-icon" href="{{ '/assets/images/favicon.ico' | relative_url }}">

<link href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

<script src="https://js.paystack.co/v2/inline.js"> </script>

{% if page.name == "ai_guide.html" %}
    {% include ai_style.html%}
{% else %}
    {% include style.html%}
{% endif%}


{% assign img_url = page.pic %}

{% unless img_url %}
    {% assign img_url = '/assets/images/rip.jpg' %}
{% endunless %}

<meta property="og:site_name" content="{{site.name}} - {{site.description}}" />
<meta property=“og:title” content="{{page.name}} ({{page.dob}} - {{page.dod}})" />
<meta property="og:description" content="{{site.name}} - {{site.description}} :: {{page.name}} ({{page.dob}} - {{page.dod}})" />
<meta property="og:url" content="{{page.url | prepend: site.url}}" />
<meta property="og:type" content="article" />
<meta property="article:publisher" content="{{site.url}}" />
<meta property="article:section" content="Coding" />
<meta property="article:tag" content="Coding" />
<meta property="og:image" content="{{img_url | prepend: site.url}}" />
<meta property="og:image:secure_url" content="{{img_url | prepend: site.url}}" />
<meta property="og:image:width" content="512" />
<meta property="og:image:height" content="256!" />
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:image" content="{{img_url | prepend: site.url}}" />
<meta property="twitter:site" content="@rip.ke" />

{% include analytics.html %}