<a href="{{ site.url }}">
  <div id="title" class="mx-auto max-w-7xl px-6 lg:px-4 bg-kasuku text-black text-wrap" style='background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url("/assets/images/kasuku-gold.jpeg")''>
    <img src="/assets/images/flag.jpg" alt="" style="opacity: 0.5; width: 341; float: left" class="float-left p-6">
    <p class="py-2">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris eu malesuada neque. Curabitur lobortis, purus et condimentum molestie, lorem libero volutpat felis, in egestas quam neque et sapien. Donec nec urna libero. Sed augue libero, consequat nec nunc quis, efficitur aliquam felis. In ornare convallis ante a tempus. In eget convallis diam. In metus justo, laoreet sed lacus vitae, commodo commodo elit. Proin a mattis neque, non commodo tellus. Duis pulvinar at massa eget blandit. Mauris vitae mattis neque. Proin posuere nibh faucibus nunc placerat, ut dictum massa consequat. Donec placerat massa eu iaculis scelerisque.
    </p>
    <p class="py-2">
      Aenean eleifend vulputate auctor. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nulla id nisi eget tellus pharetra hendrerit. Mauris lobortis malesuada metus. Curabitur egestas cursus turpis vitae semper. Mauris quis sodales purus, ut dignissim lectus. Donec viverra suscipit est, eu fermentum eros maximus id. Aenean hendrerit a nisl vel accumsan. Morbi consequat augue dictum erat laoreet placerat. Etiam egestas et leo in elementum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. In nisl ipsum, efficitur ut mi nec, sollicitudin sagittis metus. Mauris dictum neque vel sodales varius. Suspendisse id tincidunt neque, nec lobortis lectus.
    </p>
    <p class="py-2">
      Quisque dapibus elit quis lectus rutrum, quis pulvinar purus dictum. Nulla aliquet eleifend massa ac rutrum. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Vestibulum a facilisis nisi. Curabitur fringilla sagittis lectus. Mauris volutpat sodales fringilla. Nullam accumsan justo vitae risus mattis viverra. Praesent efficitur viverra cursus. Nullam ullamcorper feugiat luctus. Fusce sed pretium libero. Nam sagittis sagittis tellus in gravida. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
    </p>
    </div>
  </div>
</a>