<style>
    select, option {
       -webkit-appearance: none;
    }
    .select-wrapper {
        position: relative;
        display: inline-block;
    }
    .select-wrapper:after {
        content: '\0025BC';
        font: normal normal normal 12px/1 FontAwesome;
        color: gray;
        right: 14px;
        top: 2px;
        height: 26px;
        padding: 15px 0px 0px 8px;
        position: absolute;
        pointer-events: none;
    }
    .swiper-slide {
        display: flex;
        display: -webkit-flex;
        -webkit-align-items: center;
        align-items: center; /* Vertically centers the content */
        justify-content: center; /* Horizontally centers the content (optional, but often desired) */
    }
    .swiper-pagination-bullet-active  {
        background-color: #FFBF00 !important;
    }
    .swiper-button-next,
    .swiper-button-prev {
        color: #FFBF00 !important;
        fill: #FFBF00 !important;
        stroke: #FFBF00 !important;
    }
    .add {
        display: flex;
        display: -webkit-flex;
        -webkit-align-items: center;
        align-items: center; /* Vertically centers the content */
        justify-content: center; /* Horizontally centers the content (optional, but often desired) */
    }
    .add-img {
        display: inline;
    }
</style>