<div class="container">
  <% @posts.each_with_index do |_, index| %>
  <% if index % 3 == 0 %>
  <div class="row">
    <% 3.times do |count| %>
    <% post = @posts[index+count]%>
    <% if post %>
    <div class="col p-3">
      <div class="row p-2">
        <div class="col">
          <img style="width: 150px; height: 150px" src="/assets/img.jpg">
        </div>
        <div class="col">
          <div class="row">
            <span>Agnetta Ashiembi Chapia</span>
          </div>
          <div class="row">
            <span>20-02-1930</span>
          </div>
          <div class="row">
            <span>20-02-2020</span>
          </div>
        </div>
      </div>
      <div class="row p-2">
        Daily prayers at the local home in Amaiko village
        Cortege leaves Lee funerall home at 7:30 pm
        on Monday 26th November 2019
        wife to mzee reuben
        daughter to the late msaro and mama kemuma
        mother to the late Cyrus Obinchu, Helen Ong'esa(Kisii)
        sister of the late Ondieki, Oendo
        sister in law to Oende
        cousin of late Atieno, Bikeri

        It's with the humbled acceptance of god that
        we announce the passing of Agnetta
        following a long illness bravely borne.

        Our sincere and heartfelt gratitude goes to members of ACK church Amiako
        
        There will be a fundraiser to defray hospital and funeral expenses
        on Friday 20th December 2019 at the Professional Center from 5pm.
        Mpesa can be sent to Wendy Awour on 0724961580
        
        ashes to ashes and dust to dust
      </div>
    </div>
    <% else %>
    <div class="col"></div>
    <% end %>
    <% end %>
  </div>
  <% end %>
  <% end %>
</div>