{% case page.name  %}
  {% when "journalist.html" %}
    {% assign page_type = "Journalist" %}
  {% when "ai.html" %}
    {% assign page_type = "AI" %}
  {% when "free.html" %}
    {% assign page_type = "Free" %}
  {% else %}
{% endcase %}

<html lang="en">
  <head>
    {% include head.html %}
    {% if page_type %}
      {% include tracker.html %}
    {% endif %}
  </head>

  <body class="flex flex-col min-h-screen font-roboto">
    {% include header.html %}

    <div id="content" class="bg-white py-6 sm:py-6">
      <div class="mx-auto max-w-7xl px-6 lg:px-4">
        {{content}}
      </div>
    </div>

    {% include footer.html %}
  </body>
</html>
