<html>
  <head>
    {% include head.html %}
  </head>

  <body class="flex flex-col min-h-screen font-roboto">
    {% include header.html %}

    <div id="content" class="bg-white py-6 sm:py-6">
      <div class="mx-auto max-w-7xl px-6 lg:px-4">
        <div
          class="mx-auto mt-3 grid max-w-2xl grid-cols-1 gap-x-4 gap-y-4 lg:mx-0 lg:max-w-none lg:grid-cols-2"
        >
          <div class="relative w-full">
            <div class="swiper swiper-container">
              <div class="swiper-wrapper">
                  <div class="swiper-slide">
                    <img src="{{page.pic}}" alt=""/>
                  </div>
                  <div class="swiper-slide">
                    <img src="/assets/images/2025_05_19_1953_04_12_Richard_Muia_1.jpg" alt=""/>
                  </div>
                  <div class="swiper-slide">
                    <img src="/assets/images/2025_05_19_1953_04_12_Richard_Muia_2.jpg" alt=""/>
                  </div>
                  <div class="swiper-slide">
                    <img src="/assets/images/2025_05_19_1953_04_12_Richard_Muia_3.jpg" alt=""/>
                  </div>
                  <div class="swiper-slide">
                    <img src="/assets/images/2025_05_19_1953_04_12_Richard_Muia_4.jpg" alt=""/>
                  </div>
              </div>
              <div class="swiper-pagination"></div>
              <div class="swiper-button-next"></div>
              <div class="swiper-button-prev"></div>
            </div>

            <!-- <div class="absolute inset-0 rounded-2xl ring-1 ring-inset ring-gray-900/10"></div> -->
          </div>
          <div class="w-full px-4">
            <div class="flex items-center gap-x-4 text-s">
              <div class="flex-auto font-semibold text-lg pb-2">
                {{page.name}}
              </div>
              
      
              <div class="flex items-right">
                {% assign share_url = "https://wa.me/?text=" | append: site.url | append: page.url %}

                <a href="{{share_url}}"
                  target="_blank">
                  <div class="grid grid-cols-2 gap-2">
                    <div >
                      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="h-4 w-4">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M7.217 10.907a2.25 2.25 0 1 0 0 2.186m0-2.186c.18.324.283.696.283 1.093s-.103.77-.283 1.093m0-2.186 9.566-5.314m-9.566 7.5 9.566 5.314m0 0a2.25 2.25 0 1 0 3.935 2.186 2.25 2.25 0 0 0-3.935-2.186Zm0-12.814a2.25 2.25 0 1 0 3.933-2.185 2.25 2.25 0 0 0-3.933 2.185Z" />
                      </svg>
                    </div>
                  </div>                  
                </a>
              </div>
            </div>
            
            <div class="flex items-center gap-x-4 text-s">
              <div class="flex-auto">
                <time datetime="2020-03" class="text-gray-500"
                  >{{page.dob | date: "%d %b %y" }}</time
                >
                -
                <time datetime="2020-03" class="text-gray-500"
                  >{{page.dod | date: "%d %b %y" }}</time
                >
              </div>
              <div class="flex items-right">
                <a href="{{share_url}}" target="_blank">
                  Share
                </a>
              </div>
            </div>
            <div class="flex items-center gap-x-4 text-s">
              <div class="flex-auto">
                <div class="flex items-right">{{page.county}}</div>
              </div>
              <div class="flex items-right"></div>
            </div>
            <div class="group relative">
              <p class="mt-5 line-clamp-3 text-sm leading-6 text-gray-600">
                {{ page.content }}
              </p>
            </div>
          </div>
          <script>
            var swiper = new Swiper('.swiper-container', {
            loop: true,
            autoplay: {
                delay: 3000,
                disableOnInteraction: false
            },
            pagination: {
                el: '.swiper-pagination',
                clickable: true,
            },
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },
            });
          </script>
        </div>
      </div>
    </div>
    {% include footer.html %}
  </body>
</html>
